<div class="card mt-3 p-3">
    <h3 class="card-title">Chairing</h3>
    <div>

        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="list-left col-xs-2 cl-sm-2 col-md-auto text-left">
                        
                        <ul class="items">
                            <li>
                                <h6 class="justify"><a href="http://isact.cogsy.de/" target="_blank">ISACT 2022</a>: International Autumn School on Situation Awareness in Cognitive Technologies 2022</h6>
                            </li>
                            <ul class="items">
                                <li>
                                    Held in conjunction with <a href="https://www.ise.ufl.edu/ichms2022/" target="_blank">ICHMS 2022</a> 
                                </li>
                                <li>
                                    Co-organized with <a href="https://www.findke.ovgu.de/findke/en/Staff/Researchers/Soumick+Chatterjee.html" target="_blank">Soumick Chatterjee</a> (Otto von Guericke University Magdeburg), <a href="https://www.strahlenklinik.uk-erlangen.de/kontakt/visitenkarte/rupali-khatun-10872" target="_blank">Rupali Khatun</a> (Erlangen University Hospital) and <a href="https://www.findke.ovgu.de/findke/en/nuernberger.html" target="_blank">Andreas Nürnberger</a> (Otto von Guericke University Magdeburg)
                                </li>
                            </ul>
                        </ul>
                        
                        <ul class="items">
                            <li>
                                <h6 class="justify"><a href="https://sites.google.com/view/apex-ui-2022" target="_blank">APEx-UI 2022</a>: 1st Workshop on Adaptive and Personalized Explainable User Interfaces</h6>
                            </li>
                            <ul class="items">
                                <li>
                                    Held in conjunction with <a href="https://iui.acm.org/2022/" target="_blank">IUI 2022</a> 
                                </li>
                                <li>
                                    Co-chaired with <a href="https://www.uniba.it/portal_memberdata/cataldo.musto" target="_blank">Cataldo Musto</a> (University of Bari), <a href="https://www.uniba.it/docenti/lops-pasquale" target="_blank">Pasquale Lops</a> (University of Bari) and <a href="http://www.gei.de/en/mitarbeiter/prof-dr-ing-ernesto-william-de-luca.html" target="_blank">Ernesto William De Luca</a> (Otto von Guericke University Magdeburg and Leibniz Institute for Educational Media | Georg Eckert Institute)
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>