<div class="card mt-3 p-3">
    <h3 class="card-title">Program Committees</h3>
    <div>

        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="list-left col-xs-2 cl-sm-2 col-md-auto text-left">
                        <ul class="items">
                            
                            <li>
                                <a href="http://www.di.uniba.it/~swap/xai-it/" target="_blank">XAI.it 2022</a>: Italian Workshop on Explainable Artificial Intelligence
                            </li>

                            <li>
                                <a href="https://recsys.acm.org/recsys22/" target="_blank">RecSys 2022</a>: 16th ACM Conference on Recommender Systems (LBR and Demos track)
                            </li>

                            <li>
                                <a href="https://www.um.org/umap2022/" target="_blank">UMAP'22</a>: 30th ACM Conference on User Modeling, Adaptation and Personalization (LBR and Demos track)
                            </li>

                            <li>
                                <a href="http://www.di.uniba.it/~swap/exum/index.html" target="_blank">ExUM 2022</a>: 3rd Workshop on Explainable User Models and Personalized Systems
                            </li>

                            <li>
                                <a href="https://ht.acm.org/ht2022/" target="_blank">HT'22</a>: 33rd ACM Conference on Hypertext and Social Media
                            </li>

                            <li>
                                <a href="https://biasinrecsys.github.io/ecir2022/" target="_blank">Bias 2022</a>: 3rd International Workshop on Algorithmic Bias in Search and Recommendation
                            </li>

                            <li style="text-align: left;">
                                <a href="https://isko-de.org/konferenzen/wissensorganisation21/" target="_blank">WissOrg'21</a>: Wissenorganisation 2021
                            </li>

                        </ul>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>