<div class="card mt-3 p-3">
    <h3 class="card-title">Certifications</h3>
    <div>
        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2020-12
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Recommender Systems Specialization</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.coursera.org/specializations/recommender-systems" target="_blank">University of Minnesota (online on Coursera)</a></span>
                            </li>
                            <li>
                                <span class="item">Main teachers: <a href="https://konstan.umn.edu/" target="_blank">Joseph Konstan</a> and <a href="https://md.ekstrandom.net/" target="_blank">Michael Ekstrand</a>
                                </span>
                            </li>

                        <ol class="courses">
                            <li>
                                <span class="item">
                                    <i>Introduction to Recommender Systems: Non-Personalized and Content-Based</i>
                                </span>
                                <div class="links">
                                    <a href="/assets/pdf/certificates/Coursera NJKRKVRU72AX - Non-personalized Recommenders and CBF.pdf" class="btn btn-sm z-depth-0" role="button">Certificate</a>
                                </div>
                            </li>
                            <li>
                                <span class="item">
                                    <i>Nearest Neighbour Collaborative Filtering</i>
                                </span>
                                <div class="links">
                                    <a href="/assets/pdf/certificates/Coursera FGT9RRJDDP6J - Nearest Neighbor CF.pdf" class="btn btn-sm z-depth-0" role="button">Certificate</a>
                                </div>
                            </li>
                            <li>
                                <span class="item">
                                    <i>Recommender Systems: Evaluation and Metrics</i>
                                </span>
                                <div class="links">
                                    <a href="/assets/pdf/certificates/Coursera LF6VNNN984DT - Evaluation and Metrics.pdf" class="btn btn-sm z-depth-0" role="button">Certificate</a>
                                </div>
                            </li>
                            <li>
                                <span class="item">
                                    <i>Matrix Factorization and Advanced Techniques</i>
                                </span>
                                <div class="links">
                                    <a href="/assets/pdf/certificates/Coursera G5KZN2FNRCLY - Matrix Factorization and Advanced Techniques.pdf" class="btn btn-sm z-depth-0" role="button">Certificate</a>
                                </div>
                            </li>
                        </ol>
                        </ul>                              
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2018-12
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Football Data &amp; Performance Analysis</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.elitefootballcenter.com/prodotto/corso-di-alta-formazione-in-football-performance-data-analysis/" target="_blank">Elite Football Center</a></span>
                            </li>
                            <li>
                                <span class="item">Teachers: <a href="https://www.elitefootballcenter.com/docenti/mario-savo/" target="_blank">Mario Savo</a>, <a href="https://www.resonnetwork.it/it/department/direzione-scientifica.html" target="_blank">Marco Santarelli</a> and <a href="https://www.elitefootballcenter.com/docenti/dott-davide-savazzi/" target="_blank">Davide Savazzi</a>
                                </span>
                            </li>
                            <li>
                                <span class="item">Content: performance and data science in football; notational analysis and basics of statistics in football; KPIs, indicators, performance analysis models and expected goals; injury prevention techniques; GPS, training load analysis and motion analysis; Big Data analysis in team sports.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2018-04
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Master in Data Analysis in Team Sports</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://360mss.it/" target="_blank">360 Medicina Sport Servizi</a></span>
                            </li>
                            <li>
                                <span class="item">Teacher: <a href="https://www.linkedin.com/in/alexandru-ungureanu-09453bb9/" target="_blank">Alex Ungureanu</a></span>
                            </li>
                            <li>
                                <span class="item">Content: use of notational analysis and statistical methods in football and rugby; understanding and development of GPS data in sport.</span>
                            </li>
                            <div class="links">
                                <a href="/assets/pdf/certificates/Master analisi dati certificato.pdf" class="btn btn-sm z-depth-0" role="button">Certificate</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2017-03
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Football Match Analysis – Longomatch Certification</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.elitefootballcenter.com/prodotto/longomatch-fast-track/" target="_blank">Elite Football Center</a></span>
                            </li>
                            <li>
                                <span class="item">Teachers: <a href="https://www.elitefootballcenter.com/docenti/mario-savo/" target="_blank">Mario Savo</a>, <a href="https://www.elitefootballcenter.com/docenti/alarico-rossi/" target="_blank">Alarico Rossi</a> and <a href="https://www.elitefootballcenter.com/docenti/bruno-ruscello/" target="_blank">Bruno Ruscello</a>
                                </span>
                            </li>
                            <li>
                                <span class="item">Content: principles and history of football tactics; football match analysis; video analysis; application of football video analysis with LongoMatch platform.</span>
                            </li>
                            <div class="links">
                                <a href="https://longomatch.com/en/certifications/professionals/?name=Purificato" class="btn btn-sm z-depth-0" role="button">Certificate</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>