<div class="card mt-3 p-3">
    <h3 class="card-title">Education</h3>
    <div>
        <ul class="card-text font-weight-light list-group list-group-flush">
            <!-- Ph.D. -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2020 - now
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Ph.D. in Computer Science</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">Doctoral project: <b><i>"Beyond-Accuracy Perspectives on Graph Neural Network-Based Models for Behavioural User Profiling"</i></b></span>
                            </li>
                            <li>
                                <span class="item">Advisor: <a href="https://www.dtdh.ovgu.de/Staff/Head+of+Department.html" target="_blank">Prof. Dr.-Ing. Ernesto William De Luca</a></span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            <!-- 2nd level Master Degree in AI -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2018 - 2019
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">2<sup>nd</sup> level Master Degree in Artificial Intelligence</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://en.unito.it/" target="_blank">University of Turin, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">In-depth studies on different sectors of <b>Artificial Intelligence</b>: Machine Learning, Deep Learning, Image Processing, Natural Language Processing, Business Intelligence, Big Data Analytics, Information Ethics.</span>
                            </li>
                            <li>
                                <span class="item">Grade: 110/110</span>
                            </li>
                            <li>
                                <span class="item">Thesis: <b><i>"Development of a Visual Search system for an e-commerce portal"</i></b></span>
                            </li>
                            <li>
                                <span class="item">Advisor: <a href="https://www.master-sds.unito.it/do/docenti.pl/Alias?roberto.esposito#tab-profilo" target="_blank">Prof. Roberto Esposito</a></span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            <!-- Master Degree -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2014 - 2017
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">M.Sc. in Computer Engineering</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="http://www.unina.it/en_GB/home" target="_blank">University of Naples Federico II, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">Specialization in Information Technology management</span>
                            </li>
                            <li>
                                <span class="item">Grade: 110/110 cum Laude</span>
                            </li>
                            <li>
                                <span class="item">Thesis: <b><i>"Implementation of a multimodal system for cultural heritage information retrieval"</i></b></span>
                            </li>
                            <li>
                                <span class="item">Advisor: <a href="https://www.docenti.unina.it/#!/professor/414e544f4e494f204d4152494152494e414c4449524e4c4e4e4d37355232374239363359/riferimenti" target="_blank">Prof. Antonio Maria Rinaldi</a></span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            <!-- Bachelor Degree -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2011 - 2014
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">B.Sc. in Computer Engineering</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="http://www.unina.it/en_GB/home" target="_blank">University of Naples Federico II, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">Focus on Artificial Intelligence theory, Software engineering and Electronic</span>
                            </li>
                            <li>
                                <span class="item">Grade: 109/110</span>
                            </li>
                            <li>
                                <span class="item">Thesis: <b><i>"Design of a programmable delay line in CMOS technology"</i></b></span>
                            </li>
                            <li>
                                <span class="item">Advisor: <a href="https://www.docenti.unina.it/#!/professor/4e49434f4c4150455452415054524e434c37344d33314638333954/appelli/04400/6/" target="_blank">Prof. Nicola Petra</a></span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>