<div class="card mt-3 p-3">
    <h3 class="card-title">General Information</h3>

    <div class="general-info">

        <p>
            <i class="fa-solid fa-user fa-lg fa-fw info-icon"></i>
            <span class="info">Full name</span>
            <span>Erasmo Purificato</span>
        </p>

        <p>
            <i class="fa-solid fa-calendar-day fa-lg fa-fw info-icon"></i>
            <span class="info">Date of birth</span>
            <span>11<sup>th</sup> May 1991</span>
        </p>

        <p>
            <i class="fa-solid fa-earth-europe fa-lg fa-fw info-icon"></i>
            <span class="info">Nationality</span>
            <span>Italian</span>
        </p>

        <p>
            <i class="fa-solid fa-map-location-dot fa-lg fa-fw info-icon"></i>
            <span class="info">Location</span>
            <span>Magdeburg, Germany</span>
        </p>

        <p>
            <i class="fa-solid fa-at fa-lg fa-fw info-icon"></i>
            <span class="info">Main contact</span>
            <span>erasmopurif [at] gmail.com</span>
        </p>

    </div>

</div>