<div class="card mt-3 p-3">
    <h3 class="card-title">General Information</h3>
    <div>
        <table class="table table-sm table-borderless">
        
            <tr>
                <td class="p-0 pr-2 font-weight-bold text-right"><b>Full Name</b></td>
                <td class="p-0 pl-2 font-weight-light text-left">Erasmo Purificato</td>
            </tr>

            <tr>
                <td class="p-0 pr-2 font-weight-bold text-right"><b>Date of Birth</b></td>
                <td class="p-0 pl-2 font-weight-light text-left">11<sup>th</sup> May 1991</td>
            </tr>

            <tr>
                <td class="p-0 pr-2 font-weight-bold text-right"><b>Nationality</b></td>
                <td class="p-0 pl-2 font-weight-light text-left">Italian</td>
            </tr>
        
            <tr>
                <td class="p-0 pr-2 font-weight-bold text-right"><b>Contact</b></td>
                <td class="p-0 pl-2 font-weight-light text-left">erasmopurif [at] gmail [dot] com</td>
            </tr>
            
        </table>
    
    </div>
</div>