<div class="card mt-3 p-3">
    <h3 class="card-title">Hard Skills</h3>
    
    <div class="skill">

        <p>
            <i class="fa-solid fa-users-viewfinder fa-lg fa-fw skill-icon"></i>
            <span>User Profiling - HCI</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-gears fa-lg fa-fw skill-icon"></i>
            <span>Machine Learning</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-scale-balanced fa-lg fa-fw skill-icon"></i>
            <span>AI Ethics - Fairness</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fab fa-codepen fa-lg fa-fw skill-icon"></i>
            <span>Explainable AI</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-users fa-lg fa-fw skill-icon"></i>
            <span>Recommender Systems</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-diagram-project fa-lg fa-fw skill-icon"></i>
            <span>Deep Learning</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-magnifying-glass fa-lg fa-fw skill-icon"></i>
            <span>Information Retrieval</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-eye fa-lg fa-fw skill-icon"></i>
            <span>Computer Vision</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

    </div>
</div>
