<div class="card mt-3 p-3">
    <h3 class="card-title">Invited talks and Seminars</h3>
    <div>
        <ul class="card-text font-weight-light list-group list-group-flush">
            <!-- Talk at DEFirst Reading Group (online) -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2023-02-23
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Assessing Disparate Impact and Mistreatment in Behavioural User Profiling</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item">Invited talk at <a href="https://noon-cobbler-caa.notion.site/DEFirst-Reading-Group-23c288b0cdc540aea53bf7960754ba21" target="_blank">DEFirst Reading Group</a></span>
                            </li>
                            <li>
                                <span class="item">Presentation of my paper published at CIKM'22 entitled "Do Graph Neural Networks Build Fair Models? Assessing Disparate Impact and Mistreatment in Behavioural User Profiling"</span>
                            </li>
                            <li>
                                <span class="item">YouTube link to the talk: <a href="https://www.youtube.com/watch?v=ybhWg_m3CPE&ab_channel=DEFirstReadingGroup-MILAxVector" target="_blank">Video</a></span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            <!-- Labcamp Reply - Explainability -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2019-10-17
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Decrypting Machine Learning Models with LIME</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item">Knowledge Sharing Program at <a href="https://www.reply.com/en/" target="_blank">Reply</a></span>
                            </li>
                            <li>
                                <span class="item">Seminar on explainability techniques and the importance of trusting a machine learning model, especially in specific context like banking and financial</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            <!-- Uni Brescia - Churn Prediction -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2019-03-11
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Churn Prediction Analysis with Machine Learning</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item">Invited talk at <a href="https://www.unibs.it/en" target="_blank">University of Brescia</a>, "<b>Machine Learning and Data Mining</b>" course for Master students in "<b>Computer Science and Engineering</b>"</span>
                            </li>
                            <li>
                                <span class="item">Seminar about the importance of customer churn prediction analysis in companies and how to tackle it with machine learning methods</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            <!-- Labcamp Reply - Churn Prediction -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2019-02-13
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Churn Prediction Analysis for Telco Companies</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item">Knowledge Sharing Program at <a href="https://www.reply.com/en/" target="_blank">Reply</a></span>
                            </li>
                            <li>
                                <span class="item">Seminar about the analysis of customer churn prediction in Telco companies with state-of-the-art technologies and to explain the use of modern machine learning methods to domain</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            <!-- Labcamp Reply - Churn Prediction -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2017-06-07
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Multimodal Information Retrieval with Apache Solr</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item">Invited talk at <a href="http://www.unina.it/en_GB/home" target="_blank">University of Naples Federico II</a>, "<b>Information Retrieval Systems</b>" course for Master students in "<b>Computer Engineering</b>"</span>
                            </li>
                            <li>
                                <span class="item">Seminar about the use of Apache Solr for a multimodal information retrieval application in cultural heritage domain</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>