<div class="card mt-3 p-3">
    <h3 class="card-title">Languages</h3>
    <div class="language">

        <p> 
            <img class="flag" src="/assets/img/ITA_flag.svg"></img>
            <span class="language-name">Italian</span>
            <span style="float: right; vertical-align: middle;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
            </span>
        </p>

        <p> 
            <img class="flag" src="/assets/img/UK_flag.svg"></img>
            <span class="language-name">English</span>
            <span style="float: right; vertical-align: middle;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p> 
            <img class="flag" src="/assets/img/GER_flag.svg"></img>
            <span class="language-name">German</span>
            <span style="float: right; vertical-align: middle;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

    </div>
</div>