<div class="card mt-3 p-3">
    <h3 class="card-title">Languages</h3>
    <div>
        <table>
            <tr>
                <!-- Italian -->
                <td style="padding-left: 20px;"></td>
                <td style="vertical-align: middle; width: 27px; height: 27px;"><img style="float: left; margin-right: 10px; padding: 0;" src="/assets/img/ITA_flag.svg"></img></td>
                <td class="font-weight-light text-left" style="vertical-align: middle; padding-left: 10px;">Italian</td>
                <td style="vertical-align: middle; float: left; padding-left: 20px;">
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked"></span>
                </td>
                <!-- English -->
                <td style="padding-left: 35px;"></td>
                <td style="vertical-align: middle; width: 27px; height: 27px;"><img style="float: left; margin-right: 10px; padding: 0;" src="/assets/img/UK_flag.svg"></img></td>
                <td class="font-weight-light text-left" style="vertical-align: middle; padding-left: 10px;">English</td>
                <td style="vertical-align: middle; float: left; padding-left: 20px;">
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs"></span>
                </td>
                <!-- German -->
                <td style="padding-left: 35px;"></td>
                <td style="vertical-align: middle; width: 27px; height: 27px;"><img style="float: left; margin-right: 10px; padding: 0;" src="/assets/img/GER_flag.svg"></img></td>
                <td class="font-weight-light text-left" style="vertical-align: middle; padding-left: 10px;">German</td>
                <td style="vertical-align: middle; float: left; padding-left: 20px;">
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs checked" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs" style="padding-right: 3px;"></span>
                    <span class="fa fa-circle fa-xs"></span>
                </td>
            </tr>
        </table>
    </div>
</div>