<div class="card mt-3 p-3">
    <h3 class="card-title">Programming Skills</h3>
    
    <div class="programming">

        <p class="p-programming">
            <i class="fa-brands fa-python fa-xl fa-fw skill-icon"></i>
            <span>Python</span>
            <div class="skill-container">
                <div class="python">11</div>
            </div>
        </p>

        <p class="p-programming">
            <i class="fa-solid fa-dove fa-xl fa-fw skill-icon"></i>
            <span>LaTeX</span>
            <div class="skill-container">
                <div class="latex">11</div>
            </div>
        </p>

        <p class="p-programming">
            <i class="fa-brands fa-java fa-xl fa-fw skill-icon"></i>
            <span>Java</span>
            <div class="skill-container">
                <div class="java">11</div>
            </div>
        </p>

        <p class="p-programming">
            <i class="fa-brands fa-html5 fa-xl fa-fw skill-icon"></i>
            <span>HTML/CSS</span>
            <div class="skill-container">
                <div class="html-css">11</div>
            </div>
        </p>

        <p class="p-programming">
            <i class="fa-solid fa-chart-area fa-xl fa-fw skill-icon"></i>
            <span>Matlab</span>
            <div class="skill-container">
                <div class="matlab">11</div>
            </div>
        </p>

        <p class="p-programming">
            <i class="fa-solid fa-copyright fa-xl fa-fw skill-icon"></i>
            <span>C/C++</span>
            <div class="skill-container">
                <div class="cplusplus">11</div>
            </div>
        </p>

        <p class="p-programming">
            <i class="fa-brands fa-js fa-xl fa-fw skill-icon"></i>
            <span>JavaScript</span>
            <div class="skill-container">
                <div class="js">11</div>
            </div>
        </p>
        
    </div>

</div>