<div class="card mt-3 p-3">
    <h3 class="card-title">Soft Skills</h3>
    
    <div class="skill">

        <p>
            <i class="fa-solid fa-futbol fa-lg fa-fw skill-icon"></i>
            <span>Teamwork</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-graduation-cap fa-lg fa-fw skill-icon"></i>
            <span>Learning attitude</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-regular fa-comment-dots fa-lg fa-fw skill-icon"></i>
            <span>Critical thinking</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-wrench fa-lg fa-fw skill-icon"></i>
            <span>Problem-solving</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-people-group fa-lg fa-fw skill-icon"></i>
            <span>Leadership</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-comments fa-lg fa-fw skill-icon"></i>
            <span>Communication</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

        <p>
            <i class="fa-solid fa-business-time fa-lg fa-fw skill-icon"></i>
            <span>Time management</span>
            <span style="float: right;">
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
                <span class="fa fa-circle fa-xs no-checked"></span>
            </span>
        </p>

    </div>
</div>
