<div class="card mt-3 p-3">
    <h3 class="card-title">Work Experience</h3>
    <div>
        <ul class="card-text font-weight-light list-group list-group-flush">
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2021 - now
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Adjunct Professor in Software Engineering</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.unimarconi.it/" target="_blank">Guglielmo Marconi University, Rome, Italy</a></span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2020 - now
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Research Assistant</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">Research and teaching in the <a href="https://www.dtdh.ovgu.de/" target="_blank">"Digital Transformation and Digital Humanities"</a> group in the fields of: User Profiling, Human-Computer Interaction, Recommender Systems, Responsible AI, Usability.</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2020 - now
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Research Fellow</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="http://www.gei.de/en/home.html" target="_blank">Leibniz Institute for Educational Media | Georg Eckert Institute, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">Member of the <a href="http://www.gei.de/en/departments/digital-information-and-research-infrastructures.html" target="_blank">"Digital Information and Research Infrastructure"</a> department, involved in the development of a <b>systematic user monitoring service</b></span>
                            </li>
                            <li>
                                <span class="item">Coordinator of the <b>Usability Lab</b></span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2019
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">IT Consultant - AI Expert</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.reply.com/blue-reply/it/" target="_blank">Blue Reply, Turin, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">Project management, design and implementation of machine learning and deep learning systems with open source frameworks and libraries (e.g. PyTorch, Keras, Tensorflow, scikit-learn, pySpark, LIME, SHAP, Flask)</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2018 - 2019
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Technical Leader of the Machine Learning Innovation Team</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.reply.com/blue-reply/it/" target="_blank">Blue Reply, Turin, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">Solution design and implementation of machine learning and deep learning use cases (churn analysis, predictive maintenance, fraud
                                    detection), both with IBM (Watson Studio, Watson Machine Learning) and open source tools (e.g. Python scripts, KNIME, Apache Spark) mainly in banking and financial areas</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2018 - 2019
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">Serie A Football Match Analysis</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.klipdraw.com/en/" target="_blank">KlipDraw</a></span>
                            </li>
                            <li>
                                <span class="item">Analysis of the best tactical plays and goals of the Italian Serie A matches on social networks (i.e. LinkedIn and Twitter) by employing <b>KlipDraw Animate</b> professional software.</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2017 - 2018
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4">IT Consultant - Product Specialist</h6>
                        <ul class="items">
                            <li>
                                <span class="item"><a href="https://www.reply.com/blue-reply/it/" target="_blank">Blue Reply, Turin, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">Project management and implementation of cognitive information retrieval systems with IBM tools (Watson Content Analytics, Watson
                                    Enterprise Search)</span>
                            </li>
                        </ul>                              
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>