<div class="card mt-3 p-3">
    <h3 class="card-title">Master Thesis</h3>
    <div>

        <ul class="card-text font-weight-light list-group list-group-flush">
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2022-04-25
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Iconography in Cristian Historic Artwork</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Syed Abdullah Rizvi</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented an iconographic analysis of Christian artworks representing pictures of Holy Mary. Exploiting object detection techniques, he aimed to detect the presence of Holy Mary in paintings based on specific and peculiar properties of the character, such as a blue robe and the typical halo. Two different state-of-the-art object detection models, namely YOLOv5 and Faster R-CNN, have been employed in the experiments, along with an explainability technique, i.e. CAM, used to describe the models' predictions.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2021-10-11
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Fairness and Biases in Arabic Language: A Case Study on Named Entity Recognition Models</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Khaled Seddik Tawfik</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented a study on fairness in Arabic language and proposed a method to analyse, quantify and mitigate existing textual biases in Arabic Natural Language Processing (ANLP) resources. The thesis focuses on three different forms of biases (i.e. gender, stereotype and religion) and exploits five state-of-the-art named entity recognition (NER) models to investigate their capability to correctly detect male and female names, or Coptic and Muslim names, given a specific context or pattern. The pre-trained models have been tested on a manual generated dataset containing 70 male and female names, 35 unisex names and 31 Coptic and Muslim names. After the first evaluation, which led to the confirmation of the biased results, a bias mitigation method has been proposed by applying a data augmentation approach.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2021-10-11
                        </span>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Techniques for trustworthy artificial intelligence systems in the context of a loan approval process</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Flavio Lorenzo</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Polytechnic University of Turin, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">Work realized during the student's internship at <a href="https://www.reply.com/blue-reply/it/" target="_blank">Blue Reply</a>.</span>
                            </li>
                            <li>
                                <span class="item">This thesis focuses on two key technical aspects of a trustworthy AI: interpretability of the underlying machine learning model and fairness in the decisions taken by the system. The topics of interpretability and fairness are applied to the use case of a loan approval process. The presented algorithms and frameworks are exploited to build a web-based application that allows the user to manage the whole life cycle of a machine learning model, provide an interpretation of the model's output, and monitor the model's decisions to detect and react to unfair behaviours.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>