<div class="card mt-3 p-3">
    <h3 class="card-title">Master theses supervised</h3>
    <div>

        <ul class="card-text font-weight-light list-group list-group-flush">
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2024-03-25
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/baala_manikandan_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Evaluating the Quality of Graph Neural Network-Based Embeddings Over a Procedural Knowledge Graph</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Baalakrishnan Aiyer Manikandan</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student primarily evaluates the performance of Graph Neural Networks (GNNs) in embedding procedural knowledge graphs within the manufacturing domain. It introduces a novel evaluation metric, Matches@k, and compares GNN models against traditional baseline models and various embedding techniques. The study finds that GNNs, especially Relational Graph Convolution Networks (RGCN), outperform baseline models in capturing the semantic meaning of procedural knowledge graphs. It highlights the influence of model complexity and graph representation on performance, with multi-relational models showing superior results. The thesis identifies limitations in handling complex graph structures and suggests future research directions, including the exploration of more flexible architectures and synthetic data generation.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2023-11-10
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/dal_ronco_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Explainable Artificial Intelligence Applied to Long Short-Term Memory Neural Networks for Estimating the Capacity of Lithium-Ion Batteries</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Leonardo Dal Ronco</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.unimarconi.it/" target="_blank">Università degli Studi Guglielmo Marconi, Rome, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">This thesis focuses on developing a Long Short-Term Memory (LSTM) neural network to accurately estimate lithium-ion battery capacity within energy storage systems. By simplifying the architecture, the model achieves accuracy comparable to existing literature with fewer training parameters, making it suitable for deployment on Battery Management Systems (BMS) with limited computational resources. Additionally, the thesis explores Explainability techniques to validate the model's reliability and develops a web application for interactive exploration of the dataset and model outputs. This work provides a foundation for further research on Explainability techniques applied to LSTM networks in lithium-ion battery capacity estimation.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2023-07-27
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/affan_ahmed_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>GNN xEval: Design and Implementation of a framework for Graph Neural Network Explainers Evaluation</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Affan Ahmed</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">This thesis project focuses on the importance of explainability in Graph Neural Networks (GNNs) and the student proposed a framework called GNNxEval. The presented research aims to address the problem of interpretability in GNNs by exploring different datasets, tasks, models, and explainers, and evaluating their effectiveness. The implementation of GNNxEval allows users to select different configurations for GNNs, datasets, explainers, and explainer evaluation metrics.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2023-02-06
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/abdelrazek_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Design and development of a standardized framework for fairness analysis and mitigation for Graph Neural Network-based user profiling models</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Mohamed Abdelrazek</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented the implementation of a framework for the analysis and mitigation of fairness in state-of-the-art Graph Neural Networks (GNNs) for user profiling. In particular, the student developed a component to standardize the input of every GNN analysed, allowing a user to provide a single graph and obtain the output for all of them. The assessment of fairness and performance included three GNN architectures, four public datasets, four fairness metrics and four debiasing approaches.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2022-05-09
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/jadhav_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Leveraging explainability to improve ranking as part of information retrieval</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Shivani Jadhav</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented a Learning to Rank (LTR) approach with the support of explainability to solve information retrieval tasks in the supply chain industry. The three LTR approaches are experimented by using traditional machine learning algorithms and neural networks to find a ranking model that ranks the relevant suppliers at the top, given a specific demand.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2022-07-28
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/shahania_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>FACADE: Fake Articles Classification And Decision Explanation</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Saijal Shahania</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented a two-level cascading system for distinguishing fake from real news, by exploiting several types of features, both low-level and high-level descriptors. Furthermore, the system provides an explainable user interface to make end-users able to understand which features influenced more the system outcome.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2022-07-20
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/pattadkal_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Generating Plausible Counterfactual Images using Generative Network</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Mahantesh Vishvanath Pattadkal</b></span>
                            </li>
                            <li>
                                <span class="item">Co-supervised with <a href="https://www.linkedin.com/in/soumick/" target="_blank">Soumick Chatterjee</a></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented a novel Generative Adversarial Network (GAN) architecture for generating plausible counterfactual images, applied in the medical domain by exploiting a dataset of MRI images of the brain. As a first contribution of this thesis work, the high-quality images generated by the novel GAN architecture are compared with the results of Deep Convolutional GAN (DC-GAN) and Wasserstein GAN (WGAN) models. The second contribution is provided by an analysis on the usage of plausibility regulator in counterfactual image generation to attain plausible images in comparison to some baseline methods on simple and complex datasets.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2022-04-25
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/rizvi_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Iconography in Cristian Historic Artwork</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Syed Abdullah Rizvi</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented an iconographic analysis of Christian artworks representing pictures of Holy Mary. Exploiting object detection techniques, he aimed to detect the presence of Holy Mary in paintings based on specific and peculiar properties of the character, such as a blue robe and the typical halo. Two different state-of-the-art object detection models, namely YOLOv5 and Faster R-CNN, have been employed in the experiments, along with an explainability technique, i.e. CAM, used to describe the models' predictions.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2021-10-11
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/tawfik_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Fairness and Biases in Arabic Language: A Case Study on Named Entity Recognition Models</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Khaled Seddik Tawfik</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Otto von Guericke University Magdeburg, Germany</a></span>
                            </li>
                            <li>
                                <span class="item">The student presented a study on fairness in Arabic language and proposed a method to analyse, quantify and mitigate existing textual biases in Arabic Natural Language Processing (ANLP) resources. The thesis focuses on three different forms of biases (i.e. gender, stereotype and religion) and exploits five state-of-the-art named entity recognition (NER) models to investigate their capability to correctly detect male and female names, or Coptic and Muslim names, given a specific context or pattern. The pre-trained models have been tested on a manual generated dataset containing 70 male and female names, 35 unisex names and 31 Coptic and Muslim names. After the first evaluation, which led to the confirmation of the biased results, a bias mitigation method has been proposed by applying a data augmentation approach.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 cl-sm-2 col-md-auto text-left" style="width: 90px;">
                        <span class="badge font-weight-bold darken-1 text-uppercase align-middle" style="width: 90px;">
                            2019-12-16
                        </span>
                        <div class="mt-3">
                            <a href="/assets/pdf/thesis/lorenzo_thesis.pdf" target="_blank">
                                <img class="pdf-thesis" height="55px" src="/assets/img/pdf_icon.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 cl-sm-10 col-md mt-2 mt-md-0">
                        <h6 class="title font-weight-bold ml-1 ml-md-4"><i>Techniques for trustworthy artificial intelligence systems in the context of a loan approval process</i></h6>
                        <ul class="items">
                            <li>
                                <span class="item"><b>Flavio Lorenzo</b></span>
                            </li>
                            <li>
                                <span class="item"><a href="https://www.ovgu.de/en/" target="_blank">Polytechnic University of Turin, Italy</a></span>
                            </li>
                            <li>
                                <span class="item">Work realized during the student's internship at <a href="https://www.reply.com/blue-reply/it/" target="_blank">Blue Reply</a>.</span>
                            </li>
                            <li>
                                <span class="item">This thesis focuses on two key technical aspects of a trustworthy AI: interpretability of the underlying machine learning model and fairness in the decisions taken by the system. The topics of interpretability and fairness are applied to the use case of a loan approval process. The presented algorithms and frameworks are exploited to build a web-based application that allows the user to manage the whole life cycle of a machine learning model, provide an interpretation of the model's output, and monitor the model's decisions to detect and react to unfair behaviours.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>