<div class="news mt-3 p-0">
  <h1 class="mb-3 p-0">news</h1>
  {% if site.news != blank -%}
    {%- assign news = site.news | reverse -%} 
    {% for item in news limit: site.news_limit %}
      <div class="row">
        <div class="col-sm-2 p-0">
          <span class="badge font-weight-bold darken-1 text-uppercase align-middle date ml-2">
            {{ item.date | date: "%Y-%m-%d" }}
          </span>
        </div>
        <div class="col-sm-10 mt-2 mt-sm-0 ml-md-0 p-0 font-weight-light news-text">
          {% if item.inline -%}
            <!-- {{ item.content | remove: '<p>' | remove: '</p>' | emojify }} -->
            {{ item.content | emojify }}
          {%- else -%} 
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </div>
      </div>
    {%- endfor %}
  {%- else -%} 
    <p>No news so far...</p>
  {%- endif %} 
</div>

<!-- <div class="news">
  <h2>news</h2>
  {% if site.news != blank -%}
  <div class="news-list">
    <table class="news-table">
      {%- assign news = site.news | reverse -%}
      {% for item in news limit: site.news_limit %}
      <tr>
        <td class="badge font-weight-bold darken-1 text-uppercase align-middle">
          {{ item.date | date: "%Y-%m-%d" }}
        </td>
        <td>
          {% if item.inline -%}    
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </table>
  {%- else -%} 
    <p>No news so far...</p>
  {%- endif %} 
  </div>
</div> -->

<!-- WORKING ONLY ONLINE -->

<!-- <div class="news">
  <h2>news</h2>
  {% if site.news != blank -%} 
  <div class="news-list">
    {%- assign news = site.news | reverse -%}
    {% for item in news limit: site.news_limit %} 
    <p>
      <span class="badge font-weight-bold darken-1 text-uppercase align-middle">
        {{ item.date | date: "%Y-%m-%d" }}
      </span>
      <span class="news-title">
        {% if item.inline -%}    
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
        {%- else -%}
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {%- endif %}
      </span>
    {%- endfor %}
  {%- else -%} 
    <p>No news so far...</p>
  {%- endif %} 
</div>    -->


<!-- ORIGINAL -->

<!-- <div class="news">
  <h2>news</h2>
  {% if site.news != blank -%} 
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
    {%- assign news = site.news | reverse -%} 
    {% for item in news limit: site.news_limit %} 
      <tr>
        <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
        <td>
          {% if item.inline -%} 
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%} 
            <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %} 
        </td>
      </tr>
    {%- endfor %} 
    </table>
  </div>
{%- else -%} 
  <p>No news so far...</p>
{%- endif %} 
</div>    -->