<div class="card mt-3 p-3">
    <h3 class="card-title">Organizing Committees</h3>
    <div>

        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="list-left col-xs-2 cl-sm-2 col-md-auto text-left">
                        <ul class="items">

                            <li>
                                <a href="https://www.um.org/umap2024/organizers/" target="_blank">UMAP 2024</a>: Proceedings Co-Chair
                            </li>

                            <li>
                                <a href="https://recsys.acm.org/recsys24/committees/" target="_blank">RecSys 2024</a>: Web Co-Chair
                            </li>

                        </ul>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>