<div class="card mt-3 p-3">
    <h3 class="card-title">Reviewer for Journals</h3>
    <div>

        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="list-left col-xs-2 cl-sm-2 col-md-auto text-left">
                        <ul class="items">
                            
                            <li>
                                <a href="https://www.sciencedirect.com/journal/knowledge-based-systems" target="_blank">Knowledge-Based Systems</a> (2024)
                            </li>
                            
                            <li>
                                <a href="https://www.tandfonline.com/toc/hihc20/current" target="_blank">IJHCI</a>: International Journal of Human-Computer Interaction (2024)
                            </li>

                            <li>
                                <a href="https://link.springer.com/journal/11760" target="_blank">Signal, Image and Video Processing</a> (2024)
                            </li>
                            
                            <li>
                                <a href="https://dl.acm.org/journal/tois" target="_blank">TOIS</a>: ACM Transactions on Information Systems (2023, 2024)
                            </li>

                            <li>
                                <a href="https://dl.acm.org/journal/tist" target="_blank">TIST</a>: ACM Transactions on Intelligent Systems and Technology (2023)
                            </li>

                            <li>
                                <a href="https://www.frontiersin.org/journals/artificial-intelligence" target="_blank">
                                    Frontiers in Artificial Intelligence</a> (2023)
                            </li>

                            <li>
                                <a href="https://www.springer.com/journal/11063" target="_blank">Neural Processing Letters</a> (2023)
                            </li>

                            <li>
                                <a href="https://dl.acm.org/journal/tors" target="_blank">TORS</a>: ACM Transactions on Recommender Systems (Special Issue on "Perspectives on Recommender Systems Evaluation", 2023)
                            </li>

                            <li>
                                <a href="https://www.iospress.com/catalog/journals/intelligenza-artificiale" target="_blank">Intelligenza Artificiale</a>: Official journal of the Italian Association for Artificial Intelligence (2023)
                            </li>

                        </ul>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>