<div class="card mt-3 p-3">
    <h3 class="card-title">Reviewer for Journals</h3>
    <div>

        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="list-left col-xs-2 cl-sm-2 col-md-auto text-left">
                        <ul class="items">
                            
                            <li>
                                <a href="https://dl.acm.org/journal/tors" target="_blank">TORS</a>: ACM Transactions on Recommender Systems (Special Issue on "Perspectives on Recommender Systems Evaluation", 2023)
                            </li>


                        </ul>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>