<h4 class="mt-4">Otto von Guericke University Magdeburg, Germany</h4>

<div class="card mt-3">
    <div class="p-3">
        <div class="row">
            <div class="col-sm-10">
                <h5 class="font-weight-bold">Knowledge Engineering and Digital Humanities</h5>
            </div>
            <div class="col-sm-2 text-left text-sm-right">
                <a class="badge font-weight-bold darken-1 text-uppercase align-middle" href="https://www.dtdh.ovgu.de/Courses/Courses/Knowledge+Engineering+and+Digital+Humanities.html" target="_blank"> link </a>
            </div>
        </div>
        <h6 class="font-italic mt-2 mt-sm-0">Summer Semesters: Teaching Assistant</h6>
        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="list-left col-xs-2 cl-sm-2 col-md-auto text-left">
                        <ul class="items">

                            <li>
                                Course for master students taught by <a href="https://www.dtdh.ovgu.de/Staff/Head+of+Department.html" target="_blank">Prof. Dr.-Ing. Ernesto William De Luca</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="card mt-3">
    <div class="p-3">
        <div class="row">
            <div class="col-sm-10">
                <h5 class="font-weight-bold">Introduction to Digital Humanities</h5>
            </div>
            <div class="col-sm-2 text-left text-sm-right">
                <a class="badge font-weight-bold darken-1 text-uppercase align-middle" href="https://www.dtdh.ovgu.de/Courses/Courses/Introduction+to+Digital+Humanities.html" target="_blank"> link </a>
            </div>
        </div>
        <h6 class="font-italic mt-2 mt-sm-0">Winter Semesters: Teaching Assistant</h6>
        <ul class="card-text font-weight-light list-group list-group-flush">

            <li class="list-group-item">
                <div class="row">
                    <div class="list-left col-xs-2 cl-sm-2 col-md-auto text-left">
                        <ul class="items">

                            <li>
                                Course for bachelor students taught by <a href="https://www.dtdh.ovgu.de/Staff/Head+of+Department.html" target="_blank">Prof. Dr.-Ing. Ernesto William De Luca</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>